<!-- Adicionando uma imagem -->
<!--img src="assets/anypatslogo.jpeg" alt="Logo" width="200"-->

<nav>
  <ul>
    <li><a routerLink="/clientes">Equipamentos</a></li>
    <li><a routerLink="/produtos">Checklists / Inspeções </a></li>
    <li><a routerLink="/pedidos">Materiais</a></li>
  </ul>
</nav>

<nav>
  <ul>
    <li><a routerLink="/adicionar-cliente">Adicionar Equipamento</a></li>
    <li><a routerLink="/adicionar-produto">Adicionar Checklist / Inspeção </a></li>
    <li><a routerLink="/adicionar-pedido">Adicionar Lista de Materiais</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
